# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3

# Virtualenv
venv/


# Pyenv
.python-version

# Flask specific
instance/
*.log

# Migrations
server/migrations/
server/__pycache__/
server/*.pyc

# === Node / React ===
node_modules/
dist/
build/
.npm/
.cache/
.client_env/

# React build
client/build/
client/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === System Files ===
.DS_Store
Thumbs.db
__pycache__

# === IDEs ===
.vscode/
.idea/

# === Vercel/Netlify ===
.vercel/
.netlify/
.venv

# === Test output ===
coverage/
htmlcov/
*.cover
*.py,cover
.cache/
nosetests.xml
coverage.xml
*.mochawesome.json

# === Others ===
*.bak
*.swp
*.tmp
